<div id="<%= dom_id course %>">
  <p>
    <strong>Image:</strong>
    <%= course.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Embedcode:</strong>
    <%= course.embedcode %>
  </p>

  <p>
    <strong>Released:</strong>
    <%= course.released %>
  </p>

</div>
