<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</p>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :embedcode, style: "display: block" %>
    <%= form.text_field :embedcode %>
  </div>

  <div>
    <%= form.label :released, style: "display: block" %>
    <%= form.check_box :released %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
