<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://play.webvideocore.net/js/vapp.js"></script>
    <% if current_page?(courses_url) %>
      <script>
          // @license magnet:?xt=urn:btih:5ac446d35272cc2e4e85e4325b146d0b7ca8f50c&dn=unlicense.txt Unlicense

          document.addEventListener("DOMContentLoaded", () => {
              for (e of document.getElementsByClassName("js-only")) {
                  e.classList.remove("js-only");
              }

              const recipes = document.querySelectorAll("#artlist > div");
              const search = document.getElementById("search");
              const oldheading = document.getElementById("newest-recipes");
              const artlist = document.getElementById("artlist");

              search.addEventListener("input", () => {
                  // grab search input value
                  const searchText = search.value.toLowerCase().trim().normalize('NFD').replace(/\p{Diacritic}/gu, "");
                  const searchTerms = searchText.split(" ");
                  const hasFilter = searchText.length > 0;

                  artlist.classList.toggle("list-searched", hasFilter);
                  oldheading.classList.toggle("hidden", hasFilter);

                  // for each recipe hide all but matched
                  recipes.forEach(recipe => {
                      const searchString = `${recipe.querySelector("p").textContent} ${recipe.dataset.tags}`.toLowerCase().normalize('NFD').replace(/\p{Diacritic}/gu, "");
                      const isMatch = searchTerms.every(term => searchString.includes(term));

                      recipe.hidden = !isMatch;
                      recipe.classList.toggle("matched-recipe", hasFilter && isMatch);
                  })
              })

          })
          // @license-end
      </script>
    <% end %>
  </head>

  <body>
    <div class="notice flash"><%= notice %></div>
    <div class="alert flash"><%= alert %></div>
    <div class="header">
      <label for="menu-toggle">
        <%= image_tag "burger.png", class: "mobile-nav" %>
      </label>
      <a href="/"><%= image_tag "home.png", class: "home-nav" %></a>
      <h1 id="newest-recipes" class="header-logo"><%= link_to @title, "/" %></h1>
      <% if current_page?(courses_url) %>
        <input placeholder="Search courses..." id="search" class="search-box">
      <% end %>
    </div>
    <div class="content-area">
      <input type="checkbox" id="menu-toggle" name="menu-toggle">
      <%= render 'public/sidebar' %>
      <%= yield %>
    </div>
    <script>
      setTimeout(clearMsg, 10000);

      if (document.querySelector(".notice").textContent) {
          document.querySelector(".notice").style.display = "flex";
          document.querySelector(".notice").addEventListener("click", clearMsg);
      }
      if (document.querySelector(".alert").textContent) {
          document.querySelector(".alert").style.display = "flex";
          document.querySelector(".alert").addEventListener("click", clearMsg);
      }

      function clearMsg() {
          document.querySelector(".notice").style.display = "none";
          document.querySelector(".alert").style.display = "none";
      }
    </script>
  </body>
</html>
