<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://play.webvideocore.net/js/vapp.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  </head>

  <body class="d-flex flex-column bg-light" style="padding-top:72px;min-height:100svh">
    <div class="container text-center">
      <%= render 'public/navbar' %>
      <h1><%= @title %></h1>
    </div>
    <div class="container border text-center shadow flex-grow-1">
      <div class="row justify-content-center p-4">
        <%= yield %>
      </div>
    </div>
    <div class="container">
      <%= render 'public/footer' %>
    </div>
  </body>
</html>
